*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
body{
    background: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    background: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    align-items: center;
}
img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 0 0 25px;
}
h1{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 0px 10px;
}
.local{
    color: #c5f82a;
    font-weight: 600;
    margin: 0px 0px 30px;
}
p{
    color: #fff;
    font-weight: 300;
    margin: 0px 0px 25px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    width: 100%;
}

a{
    background-color: hsl(0, 0%, 20%);
    font-weight: 700;
    display: block;
    
    height: 45px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    border-radius: 5px;
}
a:hover{
    background: #c5f82a;
    color: #000;
}
